<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PennApps Fellows is a student-run organization that pairs talented students from around the country with startups in Philadelphia for a 10-week (June 2nd to August 10th) summer internship.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>ProjectPHL - PennApps Fellows</title>

    <!-- Bootstrap core -->
    <link href="media/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="media/css/stylish-portfolio.css" rel="stylesheet">
    <!-- Fonts / icons -->
    <link href="media/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Custom -->
    <link href="media/css/site.css" rel="stylesheet">

    <style type="text/css">
    	@media (max-width: 768px) {
    		
    	  .header {
    		background: url(/media/img/mural.jpg) no-repeat center center scroll; 
    	  }

    	  .text-stroke {
    	  	text-shadow: none;
    	  }
    	}

    </style>

  </head>

  <body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style = "padding-bottom: 10px; padding-top: 15px">
      <div class="vert-text">
        <div class="header-img">
            <a href="/"><img class="img-responsive" style="display: inline-block" src="media/img/projectphllogo.png" /></a>
        </div>
        <h3 class="text-stroke" style="margin-bottom: 10px;">A PennApps Fellows Project: Donating Technical Expertise to Better Philadelphia</h3>
        <a href="#about" class="btn btn-default btn-lg header-button">Learn More</a>
      </div>
    </div>

    <!-- /Full Page Image Header Area -->
    <div id="about" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>About ProjectPHL</h1>
          <hr/>
          <p class="lead">
            PennApps Fellows is donating 11 talented and passionate engineers, with expertise in developing powerful software, to build one project decided by the Philly community. Anyone who wants to make a difference and better Philadelphia can submit a project idea. The community will later vote on their favorite project and we will donate 4 weeks of our time to build it.
          </p>
          
          <h1>Spread The Word</h1>
          <hr/>
          <div style="margin-bottom: 20px;" class="col-md-12">
          	<a href="https://twitter.com/intent/tweet?button_hashtag=ProjectPHL&text=.%40PennAppsFellows%20is%20donating%20talented%2C%20passionate%20software%20engineers%20to%20make%20a%20difference%20in%20%23Philly" class="twitter-hashtag-button" data-size="large" data-related="PennAppsFellows" data-url="http://www.pennappsfellows.com/projectphl">Tweet #ProjectPHL</a>
          	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Project Requirements</h1>
          <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be technical in nature (we are developers, after all)</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must NOT be for-profit</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be <a href="http://en.wikipedia.org/wiki/Open_source">open-source</a></li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be completable within 4 weeks</li>
            </ol>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>ProjectPHL Timeline</h1>
            <hr/>
            <p>
              <ul>
                    <li>June 16 - 27: Applications open for project submissions</li>
                    <li>June 28 - July 4: Philadelphia votes for favorite project (details soon)</li>
                    <li>July 6: Winning project announced</li>
                    <li>July 7 - August 1: Project development</li>
                    <li>August 1: Showcase project at Open Access Philly</li>
                </ul>
            </p>
        </div>
      </div>
    </div>

    <div class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Vote For Projects</h1>
          <hr>

          <!-- alerts -->
          <div class="alerts hidden">
            <div class="alert alert-success">Thank you!</div>
            <div class="alert alert-danger">Something was wrong!</div>
          </div>
          <!-- /alert -->

          <!-- form -->
          <div class="text-left">
            <form action="" method="POST" target="_self" onsubmit="" id="vote-form">
              <div class="text-right">* Required</div>
              <fieldset>
                <div class="control-group form-group">
                  <label for="email" class="control-label">Email *</label>
                  <input type="email" name="email" id="vote-email" class="form-control"
                         placeholder="me@example.com" required>
                </div>
              </fieldset>
              <fieldset>
                <label>Idea *</label>
                <div class="control-group form-group">
                  <div class="radio">
                    <input type="radio" name="idea" value="1" id="vote-idea-1" required>
                    <label for="idea-1" class="control-label">Idea 1</label>
                  </div>
                  <div class="radio">
                    <input type="radio" name="idea" value="2" id="vote-idea-2" required>
                    <label for="idea-2" class="control-label">Idea 2</label>
                  </div>
                  <div class="radio">
                    <input type="radio" name="idea" value="3" id="vote-idea-3" required>
                    <label for="idea-3" class="control-label">Idea 3</label>
                  </div>
                  <div class="radio">
                    <input type="radio" name="idea" value="4" id="vote-idea-4" required>
                    <label for="idea-4" class="control-label">Idea 4</label>
                  </div>
                </div>
              </fieldset>
              <hr>
              <div class="control-group form-group">
                <input type="submit" value="Submit" class="btn btn-block btn-success">
              </div>
            </form>
          </div>
          <!-- /form -->

        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>FAQ</h1>
          <hr/>
          <p class="lead">
                <h3>What kinds of projects are you looking for?</h3>
                <h4>Any technical project that you think will benefit Philadelphia.</h4>

                <h3>Any costs to this?</h3>
                <h4>Nope. We're giving you our free engineering experience to build something great.</h4>

                <h3>Do I need to be a part of an organization or company to submit a project?</h3>
                <h4>Not at all. Anyone can submit a project idea.</h4>

                <h3>What is the timeline for ProjectPHL?</h3>
                <h4>Please take a look at our timeline above.</h4>

                <h3>Will you be working on the project after August 10th?</h3>
                <h4>As of right now, we cannot guarantee maintenance or updating of the project beyond August 10th.</h4>

                <h3>Questions?</h3>
                <h4><a href="mailto:fellows@pennapps.com">fellows@pennapps.com</a></h4>
           </p>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>The Fine Print</h1>
            <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows will have the final say on which project is chosen.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows is not responsible for maintaining or updating the project beyond the end of its summer program on August 10th, 2014.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows does not guarantee full completion of project (but we will work our best given our timeline).</li>
                <li><i class="fa-li fa fa-check-square-o"></i>The project must NOT be for-profit.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>The project must be <a href="http://en.wikipedia.org/wiki/Open_source">open-source</a>.</li>
            </ol>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">          	
            <h3>PennApps Fellows is a collaborative effort by:</h3>
            <br/>
            <ul class="list-inline">
              <li><a href="http://pennapps.com/"><img src="media/img/pennapps-logo.png" /></a></li>
              <li><a href="http://www.nvigor.org/"><img src="media/img/nvigor-logo.png" /></a></li>
            </ul>
            <br/><br/>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pennapps"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://twitter.com/PennAppsFellows"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href="mailto:fellows@pennapps.com"><i class="fa fa-envelope fa-3x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; PennApps Fellows 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript" src="media/js/bootstrap.js"></script>

    <!-- Google Forms -->
    <script type="text/javascript" src="media/js/google-forms.js"></script>

    <!-- Google Analytics -->
    <script type="text/javascript" src="media/js/google-analytics.js"></script>

    <!-- Smooth Scrolling Page Button -->
    <script type="text/javascript" src="media/js/smooth-scroll.js"></script>

  </body>

</html>
