<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PennApps Fellows is a student-run organization that pairs talented students from around the country to startups in Philadelphia for a 10-week (June 2nd to August 10th) summer internship.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>PennApps Fellows - Summer 2014 Technical Internships</title>

    <!-- Bootstrap core CSS -->
    <link href="media/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="media/css/stylish-portfolio.css" rel="stylesheet">
    <link href="media/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <style>
    .profile-img {
      width: 85%;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;

    }
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'>//<![CDATA[
var formID = 'ss-form';
var formKey = '17Plp4Wo2uD_i9bUykRgcPeELXeBCtouRWTkx3_jmJNk';
var labelName = 'ssTestLabel';
var testField = 'ssTestValue';
var submitted = false;

$(document).ready(function() {
 var ssForm = $('#'+formID);

 var randomInt = Math.floor((Math.random()*100)+1);
 $('#'+labelName).text('If you\'re human, type "' + randomInt + '" in the box given below');
  
 ssForm.submit(function(evt){
  if($('#'+testField).val() == randomInt){
   ssForm.attr({'action' : 'https://docs.google.com/forms/d/' + formKey + '/formResponse'});
   return true;
  }else{
   alert('You need to repeat the number "' + randomInt + '"');
    return false;
  }
 });
});
//]]></script>
  </head>

  <body>

    <style>
      .btn-lg {
        line-height: 2;
        margin-bottom: 10px;
      }

      .services hr {
        border-top: 1px solid #333333;
      }

      .lead {
        text-align: justify;
      }

      li {
        text-align: left;
        line-height: 1;
        margin: 20px auto;
      }

      .row {
        margin-bottom: 20px;
      }

      .sponsor-item {
        float: none;
        display: table-cell;
        vertical-align: middle;
        max-width: 400px;
        margin: 0 auto 30px !important;
      }

      .other-sponsors {
        text-align: center;
      }

      .header-button {
        margin: 0 20px;
        width: 150px
      }

      ul li {
        font-size: 21px;
        line-height: 1.4;
        margin: 0;
      }
      
      .PressLink { color: black; }
      
      @media (max-width: 992px) {
        /* Allows responsive design */
        .sponsor-item {
          display: block;
        }
      }
    </style>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style = "padding-bottom: 10px; padding-top: 15px">
      <div class="vert-text">
        <img class="img-responsive" style="display: inline-block" src="media/assets/logo-white.png" />

        <h3 style="color: white;">Intern at a Philly Startup over Summer 2014</h3>
        <a href="#about" class="btn btn-default btn-lg header-button">Learn more</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <div id="about" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>About ProjectPHL</h1>
          <hr/>
          <p class="lead">
        		PennApps Fellows is donating its engineering power and expertise to better Philadelphia. We are a group of talented, passionate, technically-minded students interested in building technology that will impact Philadelphia.  We are looking for a project we can dedicate 4-5 weeks to complete during our summer program that can make a difference in the community.
           </p>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Project Requirements</h1>
          <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be technical in nature (we are developers afterall)</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project cannot be for-profit</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be completable within 4-5 weeks</li>
            </ol>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
      		<h1>ProjectPHL Timeline</h1>
      		<hr/>
      		<p>
      			<ul>
      				<li>Bleh</li>
      				<li>Bloh</li>
      			</ul>
      		</p>
        </div>
      </div>
    </div>

    <div id="about" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Submit Your Project Idea</h1>
          <hr/>
          <p class="lead">
        		<iframe src="https://docs.google.com/forms/d/17Plp4Wo2uD_i9bUykRgcPeELXeBCtouRWTkx3_jmJNk/viewform?embedded=true" width="560" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
				<label id="ssTestLabel" for="ssTestValue"></label>
<input type="text" name="ssTestValue" value="" id="ssTestValue" />
           </p>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
      		<h1>Important Stuff</h1>
      		<hr/>
      		<ol style="font-size: 1.5em; font-weight: 300" class="fa-ul">
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows will have the final say on which project is chosen.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows is not responsible for maintaining or updating the project beyond the end of its summer program on August 10th, 2014.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows does not guarantee full completion of project (but we will work our best).</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>The project must NOT be for-profit.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>The project must be open-source.</li>
      		</ol>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>PennApps Fellows is a collaborative effort by:</h3>
            <br/>
            <ul class="list-inline">
              <li><a href="http://pennapps.com/"><img src="media/img/pennapps-logo.png" /></a></li>
              <li><a href="http://www.nvigor.org/"><img src="media/img/nvigor-logo.png" /></a></li>
            </ul>
            <br/><br/>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pennapps"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://twitter.com/PennAppsFellows"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href="mailto:fellows@pennapps.com"><i class="fa fa-envelope fa-3x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; PennApps Fellows 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="media/js/jquery.js"></script>
    <script src="media/js/bootstrap.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46216497-2', 'pennappsfellows.com');
      ga('send', 'pageview');

    </script>

    <!-- Smooth Scrolling Page Button -->
    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

  </body>

</html>
