<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PennApps Fellows is a student-run organization that pairs talented students from around the country with startups in Philadelphia for a 10-week (June 2nd to August 10th) summer internship.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>ProjectPHL - PennApps Fellows</title>

    <!-- Bootstrap / Plugins -->
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="media/css/stylish-portfolio.css" rel="stylesheet">
    <link href="media/css/bootstrapValidator.min.css" rel="stylesheet">

    <!-- Fonts / icons -->
    <link href="media/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Custom -->
    <link href="media/css/site.css" rel="stylesheet">

    <style type="text/css">
    	@media (max-width: 768px) {

    	  .header {
    		background: url(/media/img/mural.jpg) no-repeat center center scroll;
    	  }

    	  .text-stroke {
    	  	text-shadow: none;
    	  }
    	}

    </style>

  </head>

  <body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style = "padding-bottom: 10px; padding-top: 15px">
      <div class="vert-text">
        <div class="header-img">
            <a href="/"><img class="img-responsive" style="display: inline-block" src="media/img/projectphllogo.png" /></a>
        </div>
        <h3 class="text-stroke" style="margin-bottom: 10px;">A PennApps Fellows Project: Donating Technical Expertise to Better Philadelphia</h3>
        <a href="#vote" class="btn btn-default btn-lg header-button">Vote</a>
        <a href="#about" class="btn btn-default btn-lg header-button">Learn More</a>
      </div>
    </div>

    <!-- /Full Page Image Header Area -->

    <section id="vote" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Vote For Project Ideas</h1>
          <hr>

          <!-- form -->
          <div id="vote-container" class="text-left">
            <form action="" method="POST" target="_self" onsubmit="" id="vote-form">
              <div class="text-right">* Required</div>
              <fieldset>
                <div class="control-group form-group">
                  <label for="vote-email" class="control-label">Email *</label>
                  <input type="email" name="email" id="vote-email" class="form-control input-lg"
                         placeholder="me@example.com">
                </div>
              </fieldset>
              <fieldset>
                <label>Idea *</label>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="1" id="vote-idea-1">
                    <label for="vote-idea-1" class="control-label">
                      <h3>Green Deserts</h3>
                      <p>This idea revolves around using heat mapping to match Philadelphia's empty lots to areas with no parks</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="2" id="vote-idea-2">
                    <label for="vote-idea-2" class="control-label">
                      <h3>Students Soar</h3>
                      <p>An incentive empowerment program to encourage high school students to volunteer, seek out internships, and educate the less fortunate</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="3" id="vote-idea-3">
                    <label for="vote-idea-3" class="control-label">
                      <h3>Sweating for Something Good</h3>
                      <p>A way for runners and athletes to challenge each other to races, while simultaneously donating to charity</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="4" id="vote-idea-4">
                    <label for="vote-idea-4" class="control-label">
                      <h3>Philly Stops</h3>
                      <p>An app that would alert passengers to upcoming SEPTA stops, and increase accessibility for disabled passengers</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="5" id="vote-idea-5">
                    <label for="vote-idea-5" class="control-label">
                      <h3>Mentor App</h3>
                      <p>An app that lets community members connect with experienced professionals and veteran leaders in various fields</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="6" id="vote-idea-6">
                    <label for="vote-idea-6" class="control-label">
                      <h3>CrumblePhilly</h3>
                      <p>An app that allows phototagging and geotagging buildings that are structurally compromised</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="7" id="vote-idea-7">
                    <label for="vote-idea-7" class="control-label">
                      <h3>Celebrate Communication Access</h3>
                      <p>An app that enables individuals to identify businesses and services that are accessible to the disabled and impaired</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="8" id="vote-idea-8">
                    <label for="vote-idea-8" class="control-label">
                      <h3>Game On Philly</h3>
                      <p>An app that allows people to easily create pickup games or group workouts with people of many different backgrounds</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                <div class="control-group form-group ideas">
                  <div class="checkbox">
                    <input type="checkbox" name="ideas" value="9" id="vote-idea-9">
                    <label for="vote-idea-9" class="control-label">
                      <h3>Philly Parks and Recreation Search Tool</h3>
                      <p>A useful tool to learn more about your local parks, including pictures, operating hours, activites, maps, and much more</p>
                      <!-- <a href="#more">Learn More</a> -->
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr>
              <div class="control-group form-group">
                <input type="submit" value="Submit"
                       id="vote-submit" class="btn btn-block btn-lg btn-success">
              </div>
            </form>
            <!-- alerts -->
            <div class="alerts text-center">
              <div id="vote-alert-success" class="alert alert-success hidden">Thanks for your vote!</div>
              <div id="vote-alert-error" class="alert alert-danger hidden">Something went wrong - try again!</div>
              <div id="vote-alert-email" class="alert alert-danger hidden">You've already voted for your favorite ideas!</div>
            </div>
            <!-- /alert -->
          </div>
          <!-- /form -->

        </div>
      </div>
    </section>

    <section id="about" class="about" style="background:rgb(245, 245, 245)">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>About ProjectPHL</h1>
          <hr/>
          <p class="lead">
            PennApps Fellows is donating 11 talented and passionate engineers, with expertise in developing powerful software, to build one project decided by the Philly community. Anyone who wants to make a difference and better Philadelphia can submit a project idea. The community will later vote on their favorite project and we will donate 4 weeks of our time to build it.
          </p>

          <h1>Spread The Word</h1>
          <hr/>
          <div style="margin-bottom: 20px;" class="col-md-12">
          	<a href="https://twitter.com/intent/tweet?button_hashtag=ProjectPHL&text=.%40PennAppsFellows%20is%20donating%20talented%2C%20passionate%20software%20engineers%20to%20make%20a%20difference%20in%20%23Philly" class="twitter-hashtag-button" data-size="large" data-related="PennAppsFellows" data-url="http://www.pennappsfellows.com/projectphl">Tweet #ProjectPHL</a>
          	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>

        </div>
      </div>
    </section>

    <section class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Project Requirements</h1>
          <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be technical in nature (we are developers, after all)</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must NOT be for-profit</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be <a href="http://en.wikipedia.org/wiki/Open_source">open-source</a></li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be completable within 4 weeks</li>
            </ol>
        </div>
      </div>
    </section>

    <section class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>ProjectPHL Timeline</h1>
            <hr/>
            <p>
              <ul>
                    <li>June 16 - 27: Applications open for project submissions</li>
                    <li>June 28 - July 4: Philadelphia votes for favorite project (details soon)</li>
                    <li>July 6: Winning project announced</li>
                    <li>July 7 - August 1: Project development</li>
                    <li>August 1: Showcase project at Open Access Philly</li>
                </ul>
            </p>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>FAQ</h1>
          <hr/>
          <p class="lead">
                <h3>What kinds of projects are you looking for?</h3>
                <h4>Any technical project that you think will benefit Philadelphia.</h4>

                <h3>Any costs to this?</h3>
                <h4>Nope. We're giving you our free engineering experience to build something great.</h4>

                <h3>Do I need to be a part of an organization or company to submit a project?</h3>
                <h4>Not at all. Anyone can submit a project idea.</h4>

                <h3>What is the timeline for ProjectPHL?</h3>
                <h4>Please take a look at our timeline above.</h4>

                <h3>Will you be working on the project after August 10th?</h3>
                <h4>As of right now, we cannot guarantee maintenance or updating of the project beyond August 10th.</h4>

                <h3>Questions?</h3>
                <h4><a href="mailto:fellows@pennapps.com">fellows@pennapps.com</a></h4>
           </p>
        </div>
      </div>
    </section>

    <section class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>The Fine Print</h1>
            <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows will have the final say on which project is chosen.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows is not responsible for maintaining or updating the project beyond the end of its summer program on August 10th, 2014.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows does not guarantee full completion of project (but we will work our best given our timeline).</li>
                <li><i class="fa-li fa fa-check-square-o"></i>The project must NOT be for-profit.</li>
                <li><i class="fa-li fa fa-check-square-o"></i>The project must be <a href="http://en.wikipedia.org/wiki/Open_source">open-source</a>.</li>
            </ol>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>PennApps Fellows is a collaborative effort by:</h3>
            <br/>
            <ul class="list-inline">
              <li><a href="http://pennapps.com/"><img src="media/img/pennapps-logo.png" /></a></li>
              <li><a href="http://www.nvigor.org/"><img src="media/img/nvigor-logo.png" /></a></li>
            </ul>
            <br/><br/>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pennapps"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://twitter.com/PennAppsFellows"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href="mailto:fellows@pennapps.com"><i class="fa fa-envelope fa-3x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; PennApps Fellows 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- modals -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Description</h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /modals -->


    <!-- Bootstrap / Plugins -->
    <script type="text/javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript" src="media/js/bootstrap.js"></script>
    <script type="text/javascript" src="media/js/bootstrapValidator.min.js"></script>

    <!-- Google Forms -->
    <script type="text/javascript" src="media/js/google-forms.js"></script>

    <!-- Google Analytics -->
    <script type="text/javascript" src="media/js/google-analytics.js"></script>

    <!-- Smooth Scrolling Page Button -->
    <script type="text/javascript" src="media/js/smooth-scroll.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="media/js/submit-vote.js"></script>

  </body>

</html>
