<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PennApps Fellows is a student-run organization that pairs talented students from around the country to startups in Philadelphia for a 10-week (June 2nd to August 10th) summer internship.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>PennApps Fellows - Summer 2014 Technical Internships</title>

    <!-- Bootstrap core -->
    <link href="media/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="media/css/stylish-portfolio.css" rel="stylesheet">
    <!-- Fonts / icons -->
    <link href="media/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- Custom -->
    <link href="media/css/site.css" rel="stylesheet">
  </head>

  <body>
    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style = "padding-bottom: 10px; padding-top: 15px">
      <div class="vert-text">
        <img class="img-responsive" style="display: inline-block" src="media/assets/logo-white.png" />

        <h3 style="color: white;">Intern at a Philly Startup over Summer 2014</h3>
        <a href="#about" class="btn btn-default btn-lg header-button">Learn more</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <div id="about" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>About ProjectPHL</h1>
          <hr/>
          <p class="lead">
        		Philadelphia has come a long way but we believe it can go further yet. PennApps Fellows is donating talented and passionate engineers with expertise in developing powerful software to anyone who wants to make a difference in the community and create a better Philadelphia. We’re looking for projects that we can build 4-5 weeks and immediately start improving Philadelphia.
           </p>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Project Requirements</h1>
          <hr/>
            <ol style="font-size: 1.5em;" class="fa-ul">
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be technical in nature (we are developers afterall)</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project cannot be for-profit</li>
              <li><i class="fa-li fa fa-check-square-o"></i>Project must be completable within 4-5 weeks</li>
            </ol>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
      		<h1>ProjectPHL Timeline</h1>
      		<hr/>
      		<p>
      			<ul>
      				<li>Bleh</li>
      				<li>Bloh</li>
      			</ul>
      		</p>
        </div>
      </div>
    </div>

    <div id="about" class="about">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1>Submit Your Project Idea</h1>
          <hr/>

          <!-- form script -->
          <script type="text/javascript">
           /**
            * @license
            *! H5F
            * https://github.com/ryanseddon/H5F/
            * Copyright (c) Ryan Seddon | Licensed MIT
            */

           (function(e,t){"function"==typeof define&&define.amd?define(t):e.H5F=t()})(this,function(){var e,t,a,i,n,r,s,l,u,o,c,d,v,f,p,m,h,g,b,y,w,C,N,A,E,$,k=document,x=k.createElement("input"),q=/^[a-zA-Z0-9.!#$%&'*+-\/=?\^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,M=/[a-z][\-\.+a-z]*:\/\//i,L=/^(input|select|textarea)$/i;return r=function(e,t){var a=!e.nodeType||!1,i={validClass:"valid",invalidClass:"error",requiredClass:"required",placeholderClass:"placeholder"};if("object"==typeof t)for(var r in i)t[r]===void 0&&(t[r]=i[r]);if(n=t||i,a)for(var l=0,u=e.length;u>l;l++)s(e[l]);else s(e)},s=function(a){var i,n=a.elements,r=n.length,s=!!a.attributes.novalidate;if(b(a,"invalid",u,!0),b(a,"blur",u,!0),b(a,"input",u,!0),b(a,"keyup",u,!0),b(a,"focus",u,!0),b(a,"change",u,!0),b(a,"click",o,!0),b(a,"submit",function(i){e=!0,t||s||a.checkValidity()||w(i)},!1),!v())for(a.checkValidity=function(){return c(a)};r--;)i=!!n[r].attributes.required,"fieldset"!==n[r].nodeName.toLowerCase()&&l(n[r])},l=function(e){var t=e,a=g(t),n={type:t.getAttribute("type"),pattern:t.getAttribute("pattern"),placeholder:t.getAttribute("placeholder")},r=/^(email|url)$/i,s=/^(input|keyup)$/i,l=r.test(n.type)?n.type:n.pattern?n.pattern:!1,u=f(t,l),o=m(t,"step"),v=m(t,"min"),h=m(t,"max"),b=!(""===t.validationMessage||void 0===t.validationMessage);t.checkValidity=function(){return c.call(this,t)},t.setCustomValidity=function(e){d.call(t,e)},t.validity={valueMissing:a,patternMismatch:u,rangeUnderflow:v,rangeOverflow:h,stepMismatch:o,customError:b,valid:!(a||u||o||v||h||b)},n.placeholder&&!s.test(i)&&p(t)},u=function(e){var t=C(e)||e,a=/^(input|keyup|focusin|focus|change)$/i,r=/^(submit|image|button|reset)$/i,s=/^(checkbox|radio)$/i,o=!0;!L.test(t.nodeName)||r.test(t.type)||r.test(t.nodeName)||(i=e.type,v()||l(t),t.validity.valid&&(""!==t.value||s.test(t.type))||t.value!==t.getAttribute("placeholder")&&t.validity.valid?(A(t,[n.invalidClass,n.requiredClass]),N(t,n.validClass)):a.test(i)?t.validity.valueMissing&&A(t,[n.requiredClass,n.invalidClass,n.validClass]):t.validity.valueMissing?(A(t,[n.invalidClass,n.validClass]),N(t,n.requiredClass)):t.validity.valid||(A(t,[n.validClass,n.requiredClass]),N(t,n.invalidClass)),"input"===i&&o&&(y(t.form,"keyup",u,!0),o=!1))},c=function(t){var a,i,n,r,s=!1;if("form"===t.nodeName.toLowerCase()){a=t.elements;for(var l=0,o=a.length;o>l;l++)i=a[l],n=!!i.attributes.required,r=!!i.attributes.pattern,"fieldset"!==i.nodeName.toLowerCase()&&(n||r&&n)&&(u(i),i.validity.valid||s||(e&&i.focus(),s=!0));return!s}return u(t),t.validity.valid},d=function(e){var t=this;t.validationMessage=e},o=function(e){var a=C(e);a.attributes.formnovalidate&&"submit"===a.type&&(t=!0)},v=function(){return E(x,"validity")&&E(x,"checkValidity")},f=function(e,t){if("email"===t)return!q.test(e.value);if("url"===t)return!M.test(e.value);if(t){var i=e.getAttribute("placeholder"),n=e.value;return a=RegExp("^(?:"+t+")$"),n===i?!1:""===n?!1:!a.test(e.value)}return!1},p=function(e){var t={placeholder:e.getAttribute("placeholder")},a=/^(focus|focusin|submit)$/i,r=/^(input|textarea)$/i,s=/^password$/i,l=!!("placeholder"in x);l||!r.test(e.nodeName)||s.test(e.type)||(""!==e.value||a.test(i)?e.value===t.placeholder&&a.test(i)&&(e.value="",A(e,n.placeholderClass)):(e.value=t.placeholder,b(e.form,"submit",function(){i="submit",p(e)},!0),N(e,n.placeholderClass)))},m=function(e,t){var a=parseInt(e.getAttribute("min"),10)||0,i=parseInt(e.getAttribute("max"),10)||!1,n=parseInt(e.getAttribute("step"),10)||1,r=parseInt(e.value,10),s=(r-a)%n;return g(e)||isNaN(r)?"number"===e.getAttribute("type")?!0:!1:"step"===t?e.getAttribute("step")?0!==s:!1:"min"===t?e.getAttribute("min")?a>r:!1:"max"===t?e.getAttribute("max")?r>i:!1:void 0},h=function(e){var t=!!e.attributes.required;return t?g(e):!1},g=function(e){var t=e.getAttribute("placeholder"),a=/^(checkbox|radio)$/i,i=!!e.attributes.required;return!(!i||""!==e.value&&e.value!==t&&(!a.test(e.type)||$(e)))},b=function(e,t,a,i){E(window,"addEventListener")?e.addEventListener(t,a,i):E(window,"attachEvent")&&window.event!==void 0&&("blur"===t?t="focusout":"focus"===t&&(t="focusin"),e.attachEvent("on"+t,a))},y=function(e,t,a,i){E(window,"removeEventListener")?e.removeEventListener(t,a,i):E(window,"detachEvent")&&window.event!==void 0&&e.detachEvent("on"+t,a)},w=function(e){e=e||window.event,e.stopPropagation&&e.preventDefault?(e.stopPropagation(),e.preventDefault()):(e.cancelBubble=!0,e.returnValue=!1)},C=function(e){return e=e||window.event,e.target||e.srcElement},N=function(e,t){var a;e.className?(a=RegExp("(^|\\s)"+t+"(\\s|$)"),a.test(e.className)||(e.className+=" "+t)):e.className=t},A=function(e,t){var a,i,n="object"==typeof t?t.length:1,r=n;if(e.className)if(e.className===t)e.className="";else for(;n--;)a=RegExp("(^|\\s)"+(r>1?t[n]:t)+"(\\s|$)"),i=e.className.match(a),i&&3===i.length&&(e.className=e.className.replace(a,i[1]&&i[2]?" ":""))},E=function(e,t){var a=typeof e[t],i=RegExp("^function|object$","i");return!!(i.test(a)&&e[t]||"unknown"===a)},$=function(e){for(var t=document.getElementsByName(e.name),a=0;t.length>a;a++)if(t[a].checked)return!0;return!1},{setup:r}});
          </script>
          <!-- /form script -->

          <!-- form -->
          <div class="ss-form lead">
            <div class="ss-required-asterisk" aria-hidden="true">* Required</div>
            <form action="https://docs.google.com/forms/d/17Plp4Wo2uD_i9bUykRgcPeELXeBCtouRWTkx3_jmJNk/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
              <ol role="list" class="ss-question-list" style="padding-left: 0">
                <div class="errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item  ss-section-header">
                    <div class="ss-form-entry form-group">
                      <h2 class="ss-section-title">Personal Information</h2>
                      <div class="ss-section-description ss-no-ignore-whitespace"></div>
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_1420193350">
                        <div class="ss-q-title">Who are you?
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk">*</span>
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.1420193350" value="" class="ss-q-short form-control" id="entry_1420193350" dir="auto" aria-label="Who are you?  " aria-required="true" required="" title="">
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_252139349">
                        <div class="ss-q-title">What is your email?
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk">*</span>
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.252139349" value="" class="ss-q-short form-control" id="entry_252139349" dir="auto" aria-label="What is your email?  " aria-required="true" required="" title="">
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_2044135556">
                        <div class="ss-q-title">What is your phone number?</div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.2044135556" value="" class="ss-q-short form-control" id="entry_2044135556" dir="auto" aria-label="What is your phone number?  " title="">
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item  ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_1191584289">
                        <div class="ss-q-title">What organization are you affiliated with (if any)?</div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.1191584289" value="" class="ss-q-short form-control" id="entry_1191584289" dir="auto" aria-label="What Organization/Company are you affiliated with (if any)?  " title="">
                    </div>
                  </div>
                </div>
                <div class="errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item  ss-section-header">
                    <div class="ss-form-entry form-group">
                      <h2 class="ss-section-title">Project Information</h2>
                      <div class="ss-section-description ss-no-ignore-whitespace"></div>
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_1885007277">
                        <div class="ss-q-title">What would you name your project?
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk">*</span>
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.1885007277" value="" class="ss-q-short form-control" id="entry_1885007277" dir="auto" aria-label="What would you name your project?  " aria-required="true" required="" title="">
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_851898104">
                        <div class="ss-q-title">Describe your project in one sentence:
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk">*</span>
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <input type="text" name="entry.851898104" value="" class="ss-q-short form-control" id="entry_851898104" dir="auto" aria-label="Describe your project in one sentence:  " aria-required="true" required="" title="">
                    </div>
                  </div>
                </div>
                <div class="ss-form-question errorbox-good" role="listitem">
                  <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text">
                    <div class="ss-form-entry form-group">
                      <label class="ss-q-item-label" for="entry_393432257">
                        <div class="ss-q-title">OK, now please elaborate on the details of your idea:
                          <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                          <span class="ss-required-asterisk">*</span>
                        </div>
                        <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                      </label>
                      <textarea name="entry.393432257" rows="8" cols="0" class="ss-q-long form-control" id="entry_393432257" dir="auto" aria-label="OK, now please elaborate further on the details of your idea:  " aria-required="true" required=""></textarea>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="draftResponse" value="[,,&quot;8711320870787711591&quot;]">
                <input type="hidden" name="pageHistory" value="0">
                <input type="hidden" name="fbzx" value="8711320870787711591">
                <hr>
                <div class="ss-item ss-navigate">
                  <table id="navigation-table">
                    <tbody>
                      <tr>
                        <td class="ss-form-entry form-group goog-inline-block" id="navigation-buttons" dir="ltr">
                            <input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-default btn-lg">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ol>
            </form>
          </div>
          <!-- /form -->

        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
      		<h1>Important Stuff</h1>
      		<hr/>
      		<ol style="font-size: 1.5em; font-weight: 300" class="fa-ul">
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows will have the final say on which project is chosen.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows is not responsible for maintaining or updating the project beyond the end of its summer program on August 10th, 2014.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>PennApps Fellows does not guarantee full completion of project (but we will work our best).</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>The project must NOT be for-profit.</li>
      			<li><i class="fa-li fa fa-check-square-o"></i>The project must be open-source.</li>
      		</ol>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>PennApps Fellows is a collaborative effort by:</h3>
            <br/>
            <ul class="list-inline">
              <li><a href="http://pennapps.com/"><img src="media/img/pennapps-logo.png" /></a></li>
              <li><a href="http://www.nvigor.org/"><img src="media/img/nvigor-logo.png" /></a></li>
            </ul>
            <br/><br/>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pennapps"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://twitter.com/PennAppsFellows"><i class="fa fa-twitter fa-3x"></i></a></li>
              <li><a href="mailto:fellows@pennapps.com"><i class="fa fa-envelope fa-3x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; PennApps Fellows 2014</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->


    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="media/js/jquery.js"></script>
    <script src="media/js/bootstrap.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46216497-2', 'pennappsfellows.com');
      ga('send', 'pageview');

    </script>

    <!-- Smooth Scrolling Page Button -->
    <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>

  </body>

</html>
